* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  position: relative;

}
h2{
  color: #fff;
}
.head , .nav , .aside , .main ,  .footer{
  position: absolute;
  display: grid;
  place-items: center;
}

.head{
  top: 0;
  left: 0;
  right: 0;
  width: 25px;
  height: 50px;


}
.nav{
  left: 0;
  top: 10%;
  height: 80%;
  width: 15%;
  background: #fba;
}
.main{
  left: 15%;
  top: 10%;
  height: 80%;
  width: 70%;
  background: #fbf;
}
.aside{
  right: 0;
  top: 10%;
  height: 80%;
  width: 15%;
  background: #fba;
}
.footer{
  bottom: 0;
  left: 0;
  right: 0;
  background: #afa;
  height: 10%;
}
